

<ion-content>
    <ion-slide>
        <div class="contaier-login">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h1 style="color: rgb(255, 255, 255);">Perfil</h1>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        
                                <p style="color: rgb(255, 255, 255);">Nombre de usuario: </p>
                                <p style="color: rgb(255, 255, 255);">{{usuarioIngresado}}</p>
                            
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button color="danger" type="submit" fill="solid" expand="full"  [routerLink]="['/inicio-usuario']">
                            Volver
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </ion-slide>
    
    </ion-content>
    