ion-content{
    --background: url(./../../../assets/img/uuuh.jpg) 0 0/100% 100% no-repeat;
}



.contaier-login {
    width: 90%;
    padding: 10px;
    background: #00000075;
    border-radius: 10%;
    
    
    
}













