<ion-header>
  <!-- <ion-toolbar>
    <ion-title>ListaAnimalesTratados</ion-title>
  </ion-toolbar> -->
  <ion-button [routerLink]="['/listar-admin']">Volver</ion-button>
</ion-header>

<ion-content>

  <ion-card class="cartita">
    <img alt="Silhouette of mountains" src="https://www.nationalgeographic.com.es/medio/2020/09/21/rinoceronte-blanco-resistencia-atemporal-en-el-corazon-de-africa_4402fec0_1200x630.jpg" />
    <ion-card-header>
      <ion-card-title>Rinoceronte</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>

  </ion-card>

</ion-content>
