ion-content{
    --background: url(./../../../assets/img/uno.webp) 0 0/100% 100% no-repeat;
}






.contaier-login {
    width: 90%;
    padding: 10px;
    background: #f9000064;
    border-radius: 10%;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

ion-icon {
    margin-right: 15px;
}

ion-button {
    
    margin-top: 5px;
    margin-bottom: 15px;
}

ion-slide {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0px !important;
}


.cartita {
    background-color: rgba(0, 0, 0, 0.537);
    
    border-radius: 30px;
}