<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  ></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cartita">
    
    <ion-card-header>
      <ion-card-title style="text-align: center;color: rgb(255, 255, 255);">Nombre de usuario:</ion-card-title>
      <hr style="background-color: aliceblue;">
      <ion-card-title style="text-align: center;color: rgb(0, 76, 255);">Fecha:</ion-card-title>
    </ion-card-header>
  
    <ion-card-content style="text-align: center;color: white;">
      
    </ion-card-content>
    <!-- <h2>{{animalAcitvo.id}}</h2>-->
    
    
    
  </ion-card>
  

</ion-content>
