
<ion-content>

  <ion-grid class="grid1">

    <ion-row class="row1">
        <ion-col>

        </ion-col>
    </ion-row>

    <ion-row class="row2">
        <ion-col>

        </ion-col>
    </ion-row>

</ion-grid>

<ion-slide>
    <div class="contaier-login">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <h1 style="color: rgb(255, 255, 255);">𝑅𝑒𝑔𝒾𝓈𝓉𝓇𝒶𝓇𝓈𝑒</h1>
                </ion-col>
            </ion-row>
            <form  [formGroup]="formularioRegistro" (ngSubmit)="registrarse()">

                <ion-row>
                    <ion-col>

                        <ion-list>
                            <ion-item>
                                <ion-icon name="person" class="icon-login"></ion-icon>
                                <ion-input name="user" type="text" required placeholder="Usuario" formControlName="usuario"></ion-input>
                            </ion-item>
                            <br />
                            <ion-item>
                              <ion-icon name="key-outline"></ion-icon>

                                <ion-input name="password" type="password" required placeholder="Contraseña" formControlName="contraseña"></ion-input>
                            </ion-item>
                            <br />
                            <ion-item>
                              <ion-icon name="mail-outline"></ion-icon>

                                <ion-input name="correo" type="correo" required placeholder="Correo" formControlName="correo"></ion-input>
                            </ion-item>
                            <br />
                            <ion-item>
                              <ion-icon name="id-card-outline"></ion-icon>

                                <ion-input name="rut" type="text" required placeholder="RUT" formControlName="rut"></ion-input>
                            </ion-item>

                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button type="submit" fill="solid" expand="full" >
                            Registrarse
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button fill="solid" expand="full" [routerLink]="['/']">
                            Volver
                        </ion-button>
                    </ion-col>
                </ion-row>

            </form>

        </ion-grid>
    </div>
</ion-slide>

</ion-content>
