



ion-content{
    --background: url(./../../../assets/img/uuuh.jpg) 0 0/100% 100% no-repeat;
    
}


ion-header ion-fab {
  width: 90%;
}

.botonredondo{
    top:520px;
    margin-left:240px;

}


.botonmenu {
    top: 50%;
    margin-left: 140px;
}

.textoo {
    margin-left: 40px;
    color: rgba(255, 210, 106, 0.967);
}






.cartita {
    background-color: rgba(0, 0, 0, 0.778);
    
    border-radius: 30px;
}
